@(title: String)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/services.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers.js")"></script>

    </head>
    <body ng-app="contacts">
        <div ng-controller="ContactCtrl">

            <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
            Validate: <input type="checkbox" name="validate" ng-model="validate">
            Response: <span>{{message}}</span>

            <br/>
            <div>
                Search: <input type="search" ng-model="query" ng-change="search()">
                <ul>
                    <li ng-repeat="contact in contacts">
                        <span>{{contact}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
